/* Job Details Page Styles */

/* General Page Styles */
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/* Main Job Listing Container */
.job-listing {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

/* Job Header Section */
/* .job-header {
    display: flex;
    align-items: center;
} */

.job-header img {
    width: auto;
    height: 50px;
    margin-right: 8px;
}

.job-header h1 {
    font-size: 32px;
    font-weight: 700;
    color: #111827;
    display: flex;
    align-items: center;
}

/* Job Details Section */
.job-details {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 14px;
    color: #666e7a;
}

.job-details li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.job-details img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

/* Job Tags Section */
.ligne-boutons {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
    max-width: 100%; /* Ensures buttons adjust properly */
    flex-wrap: wrap; /* Allows buttons to wrap to the next line if necessary */
}

.ligne-boutons .btn-non-cliquable {
    display: flex;
    align-items: center;
    background-color: #F0FAEF;
    color: #333946;
    padding: 6px 16px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: not-allowed;
    flex-shrink: 0;
    white-space: nowrap;
}

/* Job Description Section */
.job-description h2 {
    font-size: 20px;
    font-weight: 700;
    color: #111827;
    margin-bottom: 10px;
}

.job-description p {
    line-height: 1.5;
    margin-bottom: 15px;
    font-size: 14px;
    color: #333946;
}

.job-description ul {
    list-style: disc inside;
    margin-top: 10px;
    font-size: 14px;
}

/* Apply Button */
.apply-button {
    display: block;
    background-color: #1D3559;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 20px auto 0;
    transition: background-color 0.3s;
}

.apply-button:hover {
    background-color: #E53945;
}